#include "resource.h"
#include <windows.h>

/* Menu */
MENUITEMS MENU
{
    POPUP "File"
    {
        MENUITEM "Quit (Ctrl + Q)", MENUID_QUIT
    }
    POPUP "Setting"
    {
        MENUITEM "Viewer (Ctrl + S)", MENUID_VIEWSETTING
    }
}

/* Accelerator */
ACCELERATOR ACCELERATORS
{
    "^Q", MENUID_QUIT, ASCII, CONTROL
    "^S", MENUID_VIEWSETTING, ASCII, CONTROL
}


/* New Dialog */
DIALOG_NEW DIALOG 79, 25, 90, 60
STYLE WS_CAPTION | WS_BORDER
CAPTION "New"
FONT 16, "Ms Shell Dig" {
    RADIOBUTTON "Alarm", RB_ALARM, 8, 5, 30, 10
    RADIOBUTTON "Timer", RB_TIMER, 41, 5, 30, 10
    COMBOBOX CB_HOUR, 8, 20, 26, 100, CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL | WS_VSCROLL
    COMBOBOX CB_MINUTE, 32, 20, 26, 100, CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL | WS_VSCROLL
    COMBOBOX CB_SECOND, 56, 20, 26, 100, CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL | WS_VSCROLL
    DEFPUSHBUTTON "Set", BUTTON_SET, 21, 40, 28, 13
    DEFPUSHBUTTON "Cancel", BUTTON_CANCEL, 51, 40, 30, 13
}
